body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table-dragable > tbody .grabable { cursor: grab; user-select: none }
.table-dragable > tbody > tr.grabbed {
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.table-dragable > tbody > tr.grabbed:active {
  user-input: none;
}
.table-dragable > tbody > tr.grabbed:active * {
  user-input: none;
  cursor: grabbing !important;
}

.centered {
  text-align: center;
}

.tier1 {
  background-color: mediumseagreen;
}

.tier2 {
  background-color: indianred;
}

.tier3 {
  background-color: mediumseagreen;
}

.tier4 {
  background-color: indianred;
}

.tier5 {
  background-color: mediumseagreen;
}
.tier6 {
  background-color: indianred;
}
.tier7 {
   background-color: mediumseagreen;
 }
.tier8 {
    background-color: indianred;
  }
.tier9 {
  background-color: mediumseagreen;
}

.tier10 {
  background-color: indianred;
}
.position-header {
  text-align: center;
}

.header-button{
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
}

.print-container {
text-align: center;

}

.nav-wrapper{
  background-color: black!important;
}

.btn {
  background-color: dodgerblue!important;
}